Source: ros-groovy-robot-pose-publisher
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-tf
Homepage: http://ros.org/wiki/robot_pose_publisher
Standards-Version: 3.9.2

Package: ros-groovy-robot-pose-publisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-tf
Description: A Simple Node to Publish the Robot's Position Relative to the Map using TFs
